@font-face {
    font-family: ZCool;
    src: url(/nijiushigou.github.io/resources/fonts/ZCOOLKuaiLe-Regular.ttf)
}

body {
    background-color: aqua;
    font-size: 12pt;
}

h1 {
    font-size: 20pt;
    font-family: ZCool;
}

h1.main {
    position: absolute;
    transition: 1s;
    opacity: 0;
}

div.main {
    position: absolute;
    transition: 1s;
    opacity: 0;
}

div.main.section {
    font-size: 15pt;
    font-family: ZCool;
}

div.main.cont {
    font-size: 12pt;
}

div.main.sub {
    font-size: 10pt;
}

div.end {
    position:absolute;
    font-size: 10pt;
    opacity: 0;
}

span.stress {
    display: inline;
    color: #d42a0c;
    font-size: 18pt;
    font-weight: bold;
    padding-left: 4px;
    padding-right: 4px;
}

#keyword {
    font-size: 24pt;
    font-weight: bold;
}

img {
    position: absolute;
    opacity: 0;
}

img.cont {
    display: block;
    width: 120px;
    height: 120px;
}

img.inline {
    display: inline;
    width: 25px;
    height: 25px;
}